@import "../variables.scss";

@media (max-width: 640px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #cecece;
        background: linear-gradient(to bottom, $darkGreen 1%, #cecece 35%);
        border-top: 3px solid $green;
        padding-bottom: 5vh;

        .above-the-fold-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 8vh 3vh 5vh 3vh;

                h1 {
                    font-weight: 800;
                    font-size: 3rem;
                    text-align: center;
                    width: 100%;
                }

                h2 {
                    font-size: 1rem;
                    font-weight: 400;
                    margin-top: 2vh;
                    width: 80%;
                    text-align: center;
                }
            }
        }

        .posts-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 3vh 4vh 3vh;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #cecece;
        background: linear-gradient(to bottom, $darkGreen 1%, #cecece 95%);
        padding: 8vh 0 16vh 0;
        border-top: 3px solid $green;

        .above-the-fold-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2vh 0;
            
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                h1 {
                    font: 800 3rem Open Sans;
                    color: white;
                    text-align: center;
                    width: 100%;
                }

                h2 {
                    font: 400 1.25rem Open Sans;
                    color: white;
                    margin-top: 3vh;
                    width: 40%;
                    text-align: center;
                }
            }
        }

        .posts-container {
            width: 70%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 7.5% 5%;
            padding: 4vh 0;
        }
    }
}