@import '../variables.scss';

@media (max-width: 640px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .above-the-fold-content {
            width: 100%;
            height: 85vh;
            display: flex;
            flex-direction: column;
            padding: 5vh 2.5vh 5vh 2.5vh;

            .left {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                width: 100%;

                h3 {
                    font-size: .9rem;
                    font-weight: 300;
                    margin-bottom: 3vh;
                }

                h1 {
                    font-size: 2rem;
                    font-weight: 800;
                    margin-bottom: 3vh;
                }

                h2 {
                    font-size: 1rem;
                    font-weight: 300;
                    margin-bottom: 3vh;
                }

                a {
                    font-weight: 700;
                    font-size: 1.5rem;
                    border: 2px solid white;
                    border-radius: $smBorderRadius;
                    padding: 1vh;
                    align-self: flex-start;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background: url("../assets/desenho.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .issues {
            width: 100%;
            background: $lightGrey;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8vh 2.5vh;

            h2 {
                color: $green;
                text-align: center;
                font-weight: 700;
                font-size: 2rem;
            }

            p {
                color: $green;
                text-align: center;
                font-weight: 500;
                font-size: 1.2rem;
                margin-top: 3vh;
                margin-bottom: 1.5vh;
            }

            .relatable-issues {
                display: flex;
                flex-direction: column;
                align-items: center;

                .issue {
                    display: flex;
                    align-items: center;
                    border: 3px solid $green;
                    border-radius: $smBorderRadius;
                    padding: 2vh;
                    width: 100%;
                    color: $green;
                    text-align: left;
                    margin: 2vh 0;

                    h4 {
                        color: $green;
                        text-align: left;
                        margin: 2vh 0;
                        margin-left: 2vh;
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                }
            }

            h3 {
                color: $green;
                text-align: center;
                font-weight: 500;
                font-size: 1.75rem;
                margin-top: 3vh;
                text-decoration: underline;
            }

            a {
                background: $darkGreen;
                font-weight: 700;
                font-size: 1.5rem;
                border: none;
                border-radius: $smBorderRadius;
                margin-top: 3vh;
                text-align: center;
                padding: 1vh 4vh;
            }
        }

        .benefits {
            width: 100%;
            background: $darkGreen;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5vh 2.5vh;

            h3 {
                font-weight: 400;
                font-size: 1.2rem;
                text-align: center;
            }

            h2 {
                font-weight: 700;
                font-size: 1.85rem;
                text-align: center;
                margin-top: 3vh;
            }

            .container {
                width: 100%;
                background: none;
                display: grid;
                grid-template-columns: 1fr 1fr;
                place-items: center;
                margin-top: 3vh;
                gap: 2vh;

                .left {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .benefit {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        padding: 2vh 0;
                        height: 100%;

                        p {
                            width: 80%;
                            margin-left: .75vh;
                        }
                    }
                }

                .right {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .benefit {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        padding: 2vh 0;
                        height: 100%;

                        p {
                            width: 80%;
                            margin-left: .75vh;
                        }
                    }
                }
            }

            #text-over-button {
                margin-top: 5vh;
            }
        }

        .about-me {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 6.5vh 2vh;
            background: $darkGreen;
            
            .left {
                width: 100%;

                h3 {
                    font-weight: 300;
                    font-size: 1.1rem;
                    font-style: italic;
                }

                h2 {
                    font-weight: 700;
                    font-size: 2.25rem;
                    margin-top: 1vh;
                }

                p {
                    font-weight: 300;
                    margin-top: 2vh;
                }
            }

            .right {
                width: 100%;
                
                .container {
                    display: flex;
                    margin-top: 4vh;

                    img {
                        max-height: 100%;
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .depos {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 6vh 2vh 0 2vh;
            background: $darkGreen;
            
            h2 {
                font-weight: 700;
                font-size: 2.5rem;
            }

            .depos-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2vh 0;
                padding-top: 4vh;

                .depo {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 8vh;
                    border: 1px solid white;
                    border-radius: $smBorderRadius;
                    padding: 2vh;

                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: 40%;
                        padding: 1vh;

                        .image-container {
                            width: 30%;

                            img {
                                max-width: 100%;
                                max-height: 100%;
                                border-radius: $smBorderRadius;
                            }
                        }

                        .description {
                            width: 65%;
                            display: flex;
                            flex-direction: column;
                            align-self: flex-start;
                            justify-content: flex-start;

                            h3 {
                                font-weight: 600;
                                font-size: 1.5rem;
                            }

                            p {
                                font-weight: 400;
                                font-size: .8rem;
                                margin-top: 1vh;
                            }
                        }
                    }

                    .body {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        width: 100%;
                        height: 70%;
                        margin-top: 3vh;

                        p {
                            font-style: italic;
                            margin-left: 1vh;
                        }
                    }
                }
            }
        }

        .faq {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 7.5vh 2.5vh;
            background: $lightGrey;

            h2 {
                color: $green;
                font-weight: 700;
                font-size: 2.5rem;
                text-align: center;
            }

            .wrapper {
                border: 2px solid $green;
                border-radius: $smBorderRadius;
                margin-top: 5vh;
                padding: 2vh 2vw;
                width: 100%;
                display: flex;
                flex-direction: column;

                .question {
                    display: flex;
                    align-items: center;

                    h3 {
                        font-weight: 600;
                        font-size: 1.3rem;
                        color: $green;
                    }

                    .text {
                        margin-left: 1vh;
                    }
                }

                #answer {
                    color: $green;
                    margin-top: 1.5vh;
                }
            }

            a {
                font-weight: 700;
                font-size: 1.5rem;
                border-radius: $smBorderRadius;
                padding: 1.5vh;
                background: $darkGreen;
                margin-top: 4vh;
            }
        }
    }
}


@media (min-width: 1200px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .above-the-fold-content {
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 10vw;

            .left {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                width: 50%;
                margin-top: 15vh;

                h3 {
                    font-weight: 300;
                    font-size: .9rem;
                    margin-bottom: 1vh;
                }

                h1 {
                    font-weight: 800;
                    font-size: 3rem;
                    margin-bottom: 3vh;
                    color: $lightGreen;
                }

                h2 {
                    font-weight: 300;
                    font-size: 1.25rem;
                    margin-bottom: 5vh;
                }

                a {
                    font-weight: 700;
                    font-size: 1.5rem;
                    border-radius: $smBorderRadius;
                    padding: 1vw;
                    align-self: flex-start;
                    border: 2px solid white;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 40%;
                height: 60vh;
                margin-top: 10vh;
                background: url("../assets/desenho.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .issues {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10vh 0;
            background: $lightGrey;

            h2 {
                color: $green;
                text-align: center;
                font-weight: 700;
                font-size: 2.5rem;
                width: 85%;
            }

            p {
                color: $green;
                text-align: center;
                font-weight: 400;
                font-size: 1.2rem;
                width: 75%;
                margin-top: 2.5vh;
            }

            .relatable-issues {
                width: 85%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                place-items: center;
                padding: 3.5vh 0;

                .issue {
                    display: flex;
                    border: 3px solid $green;
                    border-radius: $smBorderRadius;
                    padding: 3vh .5vw;
                    width: 95%;
                    color: $green;
                    text-align: left;
                    margin: 2vh 0;
                    font-weight: 600;
                    padding: 3vh .5vw;

                    h4 {
                        color: $green;
                        text-align: left;
                        margin: 2vh 0;
                        font-weight: 600;
                    }
                }
            }

            h3 {
                color: $green;
                text-align: center;
                font-weight: 500;
                font-size: 1.75rem;
                width: 75%;
                margin-top: 2vh;
                text-decoration: underline;
            }

            a {
                background: $green;
                font-weight: 700;
                font-size: 1.5rem;
                border: none;
                border-radius: $smBorderRadius;
                padding: .75vw;
                margin-top: 4vh;
                text-align: center;
            }
        }

        .benefits {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10vh 0;

            h3 {
                font-weight: 300;
                font-size: 1.2rem;
                text-align: center;
            }

            h2 {
                font-weight: 700;
                font-size: 2rem;
                text-align: center;
                margin-top: 2vh;
            }

            .container {
                width: 65%;
                height: auto;
                background: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: 5vh;

                .left {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid white;
                    padding-right: 8vw;

                    .benefit {
                        align-self: flex-start;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            margin: 2vh 0;
                        }
                    }
                }

                .right {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-left: 1px solid white;
                    padding-left: 8vw;

                    .benefit {
                        align-self: flex-start;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            margin: 2vh 0;
                        }
                    }
                }
            }

            #text-over-button {
                margin-top: 8vh;
            }
        }

        .about-me {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 8vh 0;
            
            .left {
                width: 40%;
                padding: 1vh 2vw;

                h3 {
                    font-weight: 300;
                    font-size: 1.25rem;
                    font-style: italic;
                }

                h2 {
                    font-weight: 700;
                    font-size: 2.5rem;
                    margin-top: 1vh;
                }

                p {
                    font-weight: 300;
                    margin-top: 1vh;
                }
            }

            .right {
                max-width: 35%;
                padding: 2vh;
                
                .container {
                    display: flex;

                    img {
                        max-height: 100%;
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .depos {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 8vh 0;
            
            h2 {
                font-weight: 700;
                font-size: 2.5rem;
            }

            .depos-container {
                width: 85%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 2vh 0;
                margin-top: 6vh;

                .depo {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: 40%;
                        padding: 1vh 1vw;

                        .image-container {
                            width: 30%;

                            img {
                                max-width: 100%;
                                max-height: 100%;
                                border-radius: $smBorderRadius;
                            }
                        }

                        .description {
                            width: 65%;
                            display: flex;
                            flex-direction: column;
                            align-self: flex-start;
                            justify-content: flex-start;

                            h3 {
                                font-weight: 600;
                                font-size: 1.4rem;
                            }

                            p {
                                font-size: .7rem;
                                font-weight: 400;
                                margin-top: 1vh;
                            }
                        }
                    }

                    .body {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        width: 100%;
                        height: 70%;
                        margin-top: 2vh;
                        padding: 1vh 1vw;

                        p {
                            font-weight: 300;
                            font-style: italic;
                        }
                    }
                }
            }
        }

        .faq {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10vh 10vw;
            background: $lightGrey;

            h2 {
                color: $green;
                font-weight: 700;
                font-size: 2.5rem;
            }

            .wrapper {
                border: 2px solid $green;
                border-radius: $smBorderRadius;
                margin-top: 5vh;
                padding: 2vh 2vw;
                width: 70%;
                cursor: pointer;
                display: flex;
                flex-direction: column;

                .question {
                    display: flex;
                    align-items: center;

                    h3 {
                        font-weight: 600;
                        font-size: 1.4rem;
                        color: $green;
                    }
                }

                #answer {
                    color: $green;
                    margin-top: 1.5vh;
                }
            }

            a {
                font-weight: 700;
                font-size: 1.25rem;
                border-radius: $smBorderRadius;
                padding: 1vw;
                background: $darkGreen;
                margin-top: 4vh;
            }
        }
    }
}