@media (max-width: 640px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #cecece;

        .content-wrapper {
            width: 100%;
            height: 100%;
            background: $darkGreen;
            display: flex;
            flex-direction: column;
            align-items: center;

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding-top: 10vh;

                .headlines {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font: 800 3rem Open Sans;
                        color: white;
                        text-align: center;
                        width: 100%;
                    }

                    h2 {
                        font: 400 1.1rem Open Sans;
                        color: white;
                        margin-top: 2vh;
                        width: 80%;
                        text-align: center;
                    }
                }

                .service-container {
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 5vh 0;

                    .image-container-left {
                        display: none;
                        visibility: hidden;
                    }
                    
                    .image-container-right {
                        display: none;
                        visibility: hidden;
                    }

                    .content-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;
                        background: #cecece;
                        padding: 2vh;

                        h2 {
                            color: $green;
                            font: 800 2.5rem Open Sans;
                        }

                        h3 {
                            color: $green;
                            font: 400 1rem Open Sans;
                            width: 75%;
                            margin-top: 2vh;
                        }

                        .problems {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 2vh;

                            .col {
                                width: 40%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;

                                .problem {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-top: 3vh;

                                    .icon-square-container {
                                        width: 3vh;
                                        height: 3vh;
                                        background: $green;
                                    }

                                    h4 {
                                        color: $green;
                                        font: 500 1rem Open Sans;
                                        margin-left: 1vh;
                                    }
                                }
                            }
                        }
                    }
                }

                .final-page-cta {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    background: #cecece;
                    padding: 5vh 0;
                    margin-top: 2vh;
                    
                    h3 {
                        color: $green;
                        font: 700 2rem Open Sans;
                        text-align: center;
                    }

                    #line {
                        width: 40%;
                        height: 3px;
                        background: $darkGreen;
                        margin: 5vh 0;
                    }

                    a {
                        font: 600 1.25rem Open Sans;
                        border: 1px solid white;
                        border-radius: .5rem;
                        padding: 1.25vh 4vh;
                        background: $darkGreen;
                        color: white;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #cecece;

        .content-wrapper {
            width: 100%;
            background: $darkGreen;
            display: flex;
            flex-direction: column;
            align-items: center;

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                
                .headlines {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10vh 0 10vh 0;

                    h1 {
                        font: 800 3rem Open Sans;
                        color: white;
                        text-align: center;
                        width: 100%;
                    }

                    h2 {
                        font: 400 1.25rem Open Sans;
                        color: white;
                        margin-top: 3vh;
                        width: 60%;
                        text-align: center;
                    }
                }

                .service-container {
                    width: 75%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20vh;

                    .image-container-left {
                        width: 50%;
                        position: relative;
                        left: 5vw;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    
                    .image-container-right {
                        width: 50%;
                        position: relative;
                        right: 5vw;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }

                    .content-wrapper {
                        width: 75%;
                        background: #cecece;
                        padding: 6vh 0 6vh 8vw;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        h2 {
                            color: $green;
                            font: 800 3rem Open Sans;
                        }

                        h3 {
                            color: $green;
                            font: 400 1rem Open Sans;
                            width: 75%;
                        }

                        .problems {
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;

                            .col {
                                width: 40%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;

                                .problem {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-top: 4vh;

                                    .icon-square-container {
                                        width: 1vh;
                                        height: 1vh;
                                        background: $green;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    h4 {
                                        color: $green;
                                        font: 500 1rem Open Sans;
                                        margin-left: 1vw;
                                    }
                                }
                            }
                        }
                    }
                }

                .final-page-cta {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    background: #cecece;
                    padding: 10vh 0;
                    
                    h3 {
                        color: $green;
                        font: 700 2.5rem Open Sans;
                        text-align: center;
                    }

                    #line {
                        width: 10%;
                        height: 3px;
                        background: $darkGreen;
                        margin: 5vh 0;
                    }

                    a {
                        font: 600 1.25rem Open Sans;
                        border: 1px solid white;
                        border-radius: .5rem;
                        padding: 1.25vh 4vh;
                        background: $darkGreen;
                        color: white;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}