@media (max-width: 640px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #e2e2e2;

        .above-the-fold-content {
            width: 100%;
            height: 100%;
            background: #0a3541;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                padding: 10vh 3vh;

                .headlines {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font: 800 3rem Open Sans;
                        color: white;
                        text-align: center;
                        width: 100%;
                    }

                    h2 {
                        font: 400 1.1rem Open Sans;
                        color: white;
                        margin-top: 2vh;
                        width: 100%;
                        text-align: center;
                    }
                }

                .service-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 5vh 0;

                    .image-container-left {
                        // width: 100%;
                        // background: black;
                        // position: relative;
                        // left: 5vw;
                        display: none;
                        visibility: hidden;
                    }
                    
                    .image-container-right {
                        // width: 100%;
                        // background: black;
                        // position: relative;
                        // right: 5vw;
                        display: none;
                        visibility: hidden;
                    }

                    .content-wrapper {
                        width: 100%;
                        background: #e2e2e2;
                        padding: 2vh;

                        h2 {
                            color: #224851;
                            font: 800 2.5rem Open Sans;
                        }

                        h3 {
                            color: #224851;
                            font: 400 1rem Open Sans;
                            width: 75%;
                            margin-top: 2vh;
                        }

                        .problems {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 2vh;

                            .col {
                                width: 40%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;

                                .problem {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-top: 2vh;

                                    .icon-square-container {
                                        width: 3vh;
                                        height: 3vh;
                                        background: #224851;
                                    }

                                    h4 {
                                        color: #224851;
                                        font: 500 1rem Open Sans;
                                        margin-left: 1vh;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #e2e2e2;

        .above-the-fold-content {
            width: 100%;
            height: 100%;
            background: #0a3541;
            display: flex;
            flex-direction: column;
            align-items: center;

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                
                .headlines {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10vh 0 10vh 0;

                    h1 {
                        font: 800 3rem Open Sans;
                        color: white;
                        text-align: center;
                        width: 100%;
                    }

                    h2 {
                        font: 400 1.25rem Open Sans;
                        color: white;
                        margin-top: 3vh;
                        width: 60%;
                        text-align: center;
                    }
                }

                .service-container {
                    width: 75%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20vh;

                    .image-container-left {
                        width: 25%;
                        height: 300px;
                        background: black;
                        position: relative;
                        left: 5vw;
                    }
                    
                    .image-container-right {
                        width: 25%;
                        height: 300px;
                        background: black;
                        position: relative;
                        right: 5vw;
                    }

                    .content-wrapper {
                        width: 75%;
                        background: #e2e2e2;
                        padding: 6vh 0 6vh 10vw;

                        h2 {
                            color: #224851;
                            font: 800 3rem Open Sans;
                        }

                        h3 {
                            color: #224851;
                            font: 400 1rem Open Sans;
                            width: 75%;
                        }

                        .problems {
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;

                            .col {
                                width: 40%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;

                                .problem {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-top: 3vh;

                                    .icon-square-container {
                                        width: 5vh;
                                        height: 5vh;
                                        background: #224851;
                                    }

                                    h4 {
                                        color: #224851;
                                        font: 500 1rem Open Sans;
                                        margin-left: 1vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}