@media (max-width: 640px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;

        .header-main-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5vh 4vw;
            border-bottom: 3px solid #224851;
            background: #0a3541;

            .logo {
                height: 8vh;
                width: 8vh;
                background: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .links {
                display: none;
                visibility: hidden;
            }

            .cta-on-header {
                color: white;
                font: 700 .75rem Open Sans;
                border: 2px solid white;
                border-radius: .25rem;
                padding: 1vh;
                text-decoration: none;
            }

            button {
                background: none;
                border: none;
            }
        }

        .mobile-expanded {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background: #0a3541;
        }
    }

}

@media (min-width: 1200px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;

        .header-main-content {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 2.5vh 6vw;
            border-bottom: 3px solid #224851;
            background: #0a3541;

            .logo {
                height: 4vw;
                width: 4vw;
                background: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .cta-on-header {
                color: white;
                font: 700 1rem Open Sans;
                border: 2px solid white;
                border-radius: .5rem;
                padding: .5vw;
                text-decoration: none;
            }

            #burger-menu {
                display: none;
                visibility: hidden;
            }
        }

        .mobile-expanded {
            display: none;
            visibility: hidden;
        }
    }
}