@import "../../variables.scss";

@media (max-width: 640px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;

        .header-main-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3vh 4vw;
            border-bottom: 3px solid $green;
            background: $darkGreen;

            .logo {
                height: 6vh;
                width: 6vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .links {
                display: none;
                visibility: hidden;
            }

            .cta-on-header {
                border: 2px solid white;
                border-radius: $smBorderRadius;
                font-weight: 700;
                font-size: .9rem;
                padding: 1vh;
            }

            button {
                background: none;
                border: none;
            }
        }

        .mobile-expanded {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background: $middleGreen;
        }
    }

}

@media (min-width: 1200px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;

        .header-main-content {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 2.5vh 6vw;
            border-bottom: 3px solid $green;
            background: $darkGreen;

            .logo {
                height: 4vw;
                width: 4vw;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .cta-on-header {
                border: 2px solid white;
                border-radius: $smBorderRadius;
                font-weight: 700;
                padding: .5vw;
            }

            #burger-menu {
                display: none;
                visibility: hidden;
            }
        }

        .mobile-expanded {
            display: none;
            visibility: hidden;
        }
    }
}