@media (max-width: 640px) {
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-main-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            background: #0a3541;
            padding: 2.5vh;

            .left {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 2vh;

                .logo-wrapper {
                    height: 100%;
                    min-height: 15vh;
                    width: 30%;
                    background: black;
                    color: white;
                    margin-right: 1.5vw;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 60%;

                    span {
                        color: white;
                        font: 600 .9rem Open Sans;
                        margin-bottom: 2vh;
                    }

                    #impact-phrase {
                        font: 400 .9rem Open Sans;
                    }

                    a {
                        font: 600 .9rem Open Sans;
                        border: 1px solid white;
                        border-radius: .5rem;
                        padding: 1vh;
                        background: none;
                        color: white;
                        text-decoration: none;
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: left;
                margin-top: 3vh;
                padding-bottom: 2vh;

                span {
                    font: 400 1rem Open Sans;
                    color: white;
                    margin-bottom: 1.5vh;
                }

                #sub-header {
                    font: 600 1.4rem Open Sans;
                    margin-bottom: .5vh;
                }
                
                .channel {
                    display: flex;
                    text-align: left;
                    margin-top: 1.5vh;

                    span {
                        color: white;
                        text-align: left;
                        font: 400 .9rem Open Sans;
                        margin-left: 2vh;
                    }
                }
            }
        }

        .bottom-bar-on-footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #0a3541;
            padding: 3vh 0;
            border-top: 3px solid #224851;

            p {
                color: white;
                font: 400 .8rem Open Sans;
                margin-top: .75vh;

                a {
                    text-decoration: none;
                    text-decoration: underline;
                    color: white;
                    font: 600 .8rem Open Sans;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer-main-content {
            width: 100%;
            display: flex;
            justify-content: space-around;
            background: #0a3541;
            padding: 8vh 5vw;

            .left {
                display: flex;

                .logo-wrapper {
                    height: 100%;
                    width: 8vw;
                    background: black;
                    color: white;
                    margin-right: 1.5vw;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    span {
                        color: white;
                        font: 600 1.1rem Open Sans;
                        margin-bottom: 2vh;
                    }

                    #impact-phrase {
                        font: 400 .9rem Open Sans;
                    }

                    a {
                        font: 700 1rem Open Sans;
                        border: 1px solid white;
                        border-radius: .5rem;
                        padding: .5vw;
                        background: none;
                        color: white;
                        text-decoration: none;
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: left;

                span {
                    font: 400 1rem Open Sans;
                    color: white;
                    margin-bottom: 1.5vh;
                }

                #sub-header {
                    font: 600 1.4rem Open Sans;
                    margin-bottom: .5vh;
                }
                
                .channel {
                    display: flex;
                    text-align: left;
                    margin-top: 1vh;

                    span {
                        color: white;
                        text-align: left;
                        font: 400 1rem Open Sans;
                        margin-left: .5vw;
                    }
                }
            }
        }

        .bottom-bar-on-footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #0a3541;
            padding: 1.5vh 0;
            border-top: 3px solid #224851;

            p {
                color: white;
                font: 400 .8rem Open Sans;
                margin-top: .75vh;

                a {
                    text-decoration: none;
                    text-decoration: underline;
                    color: white;
                    font: 600 .8rem Open Sans;
                }
            }
        }
    }
}